img.banner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-47%, -50%);

	height: 65%;

	display: none;

	animation : {
		// name: move;
		duration: 0.5s;
		delay: 0.1s;
		timing-function: cubic-bezier(0.44, 0.42, 0.24, 0.47);
		fill-mode: forwards;
	}
}

@keyframes move {
	100% {
		transform: translate(-50%, -50%);
	}
}
