img.banner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-48.5%, -50%);

	height: 65%;

	display: none;

	animation : {
		// name: move;
		duration: 0.2s;
		delay: 0.1s;
		timing-function: ease-out;
		fill-mode: forwards;
	}
}

@keyframes move {
	100% {
		transform: translate(-50%, -50%);
	}
}
